{% extends "main/base.html" %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <input type="text" name="username" id="id_username" placeholder="Username..." required>
    <input type="text" name="first_name" id="id_first_name" placeholder="First name..." required>
    <input type="text" name="last_name" id="id_last_name" placeholder="Last name..." required>
    <input type="text" name="email" id="id_email" placeholder="Email..." ``required>
    <input type="password" name="password" id="id_password" placeholder="Password..." required>
    <input type="password" name="password2" id="id_password2" placeholder="Repeat password..." required>
    <input type="submit" value="submit" required>
    <label>{{ message }}</label>
</form>
{% endblock %}