body {
    margin: 0;
    background-color: #f1f1f1;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: auto;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100%;
    position: fixed;
    transition-property: inherit;
    overflow: auto;
    background-color: #ffffff;
}

.navbar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    transition-duration: 0.4s;
}

.navbar .active {
    display: block;
    text-decoration: none;
    transition-duration: 0.4s;
}

.navbar .active a {
    color: #ffffff;
    background-color: #FF8100;
}

.navbar .active a:hover {
    color: #ffffff;
    background-color: #FF8100;
}

.navbar li a:hover {
    background-color: #d9d9d9;
}

.content {
    padding-left: 20%;
}

.content .content {
    padding: 8px 16px;
}

.profile {
    box-sizing: border-box;
    margin: 1%;
    background-color: #ffffff;
    height: 10vh;
    resize: none;
    border-radius: 20px;
}

.profile .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1vh;
    padding-right: 1vh;
    padding-left: 1vh;
    padding-bottom: 1vh;
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
} 

.profile .name {
    box-sizing: border-box;
    padding-top: 5%;
    font-size: large;
}

.profile .status {
    box-sizing: border-box;
    padding-top: 1%;
    font-size: small;
}